<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Classification and Recognition of Lung Sounds Using Neural Networks</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

        <link href="../static/css/bootstrap.min.css" rel="stylesheet">

        <link href="../static/css/bootstrap-icons.css" rel="stylesheet">

        <link href="../static/css/templatemo-leadership-event.css" rel="stylesheet">
        
<!--

TemplateMo 575 Leadership Event

https://templatemo.com/tm-575-leadership-event

-->
    </head>
   
    </div>
    <body>
        <div class="video-wrap">
            <video autoplay="" loop="" muted="" class="custom-video" poster="">
                <source src="../static/videos/lungs.mp4" type="video/mp4">

                
            </video>
        </div>

        <nav class="navbar navbar-expand-lg">
            <div class="container">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a href="{{url_for('first')}}" class="navbar-brand mx-auto mx-lg-0 color:#c1e024">
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-lungs-fill" viewBox="0 0 16 16">
                        <path d="M8 1a.5.5 0 0 1 .5.5v5.243L9 7.1V4.72C9 3.77 9.77 3 10.72 3c.524 0 1.023.27 1.443.592.431.332.847.773 1.216 1.229.736.908 1.347 1.946 1.58 2.48.176.405.393 1.16.556 2.011.165.857.283 1.857.24 2.759-.04.867-.232 1.79-.837 2.33-.67.6-1.622.556-2.741-.004l-1.795-.897A2.5 2.5 0 0 1 9 11.264V8.329l-1-.715-1 .715V7.214c-.1 0-.202.03-.29.093l-2.5 1.786a.5.5 0 1 0 .58.814L7 8.329v2.935A2.5 2.5 0 0 1 5.618 13.5l-1.795.897c-1.12.56-2.07.603-2.741.004-.605-.54-.798-1.463-.838-2.33-.042-.902.076-1.902.24-2.759.164-.852.38-1.606.558-2.012.232-.533.843-1.571 1.579-2.479.37-.456.785-.897 1.216-1.229C4.257 3.27 4.756 3 5.28 3 6.23 3 7 3.77 7 4.72V7.1l.5-.357V1.5A.5.5 0 0 1 8 1m3.21 8.907a.5.5 0 1 0 .58-.814l-2.5-1.786A.5.5 0 0 0 9 7.214V8.33z"/>
                      </svg>
                
                    <i class="bi bi-lungs-fill"></i>
                    <span class="brand-text">Recognition of<br>Lung Sounds </span>
                </a>

                

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="{{url_for('first')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="{{url_for('index')}}">prediction</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link click-scroll" href="{{url_for('chart')}}">Performance</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link click-scroll" href="{{url_for('piechart')}}">PieChart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="{{url_for('first')}}">logout</a>
                        </li>
                

                    </ul>
                <div>
                        
            </div>
        </nav>

        <main>

            


             


            

            


            

            <section class="call-to-action section-padding">
                <div class="video-wrap">
                    <video autoplay="" loop="" muted="" class="custom-video" poster="">
                        <source src="../static/videos/lung.mp4" type="video/mp4">

                        
                    </video>
                </div>
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-7 col-12">
                            <h2 class="text-white mb-4">Classification and Recognition of Lung Sounds Using Neural Networks<u class="text-info"></u></h2>

                            <p class="text-white"></p>
                        </div>

                        <div class="col-lg-3 col-12 ms-lg-auto mt-4 mt-lg-0">
                            <a href="#section_5" class="custom-btn btn">Performance</a>
                        </div>
                       

                    </div>
                </div>
            </section>

            <section class="pricing section-padding" id="section_5">
                <div class="container">
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-12">
                              <div class="title-box text-center">
                <center><h3 class="title-a">
                                  Graph
                                </h3></center>
                                 <body><br><br>
                                 
                                 <div class="col-lg-8 mx-auto">
                            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                              
                                         
                                        <div><span style="margin-left:100px;color:red;"><font size="10">Model Accuracy</font></div>
                                        
                                        
                                        
                                  <center>	    <div><img style="margin-left:-70px;width:800px;height:500px;" src="../static/resultt.png"</div></center>
                                                 
                                           
                                                 
                          </div>
                  <br>
                  <br>
                  <br>
                     <div class="col-lg-8 mx-auto">
                            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                              
                                         
                                        <div><span style="margin-left:100px;color:red"><font size="12">Model Loss</font></div>
                                        </br>
                                        </br>
                                        
                                  <center>	    <div><img style="margin-left:-70px;width:800px;height:500px;" src="../static/resultss.png"</div></center>
                                                 
                                           
                                                 
                          </div>
                  
                   
                  </body> 
                                 
                                 
                                 
                                 
                              </div>
                            </div>
                          </div>
                        
						 

                    </div>
                </div>
            </section>

            

        <footer class="site-footer">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-12 col-12 border-bottom pb-5 mb-5">
                        <div class="d-flex">
                            
                            
                        </div>
                    </div>

                    <div class="col-lg-7 col-12">
                       
                    </div>

                        
                    <div class="col-lg-5 col-12 ms-lg-auto">
                        
                    </div>

                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
      <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/jquery.sticky.js"></script>
        <script src="../static/js/click-scroll.js"></script>
        <script src="../static/js/custom.js"></script>

    </body>
</html>